{%load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB SITE TESTE</title>
</head>
<body>
    <div style="width: 900px; margin: 0px auto;">
        <h3 style="width: 900px; margin: 20px auto;">BEM VINDO</h3>
    </div>
    <div style="width: 900px; margin: 0px auto;">
        <a href="#" style="width: 900px; margin-left: 70%">Principal</a> |
        <a href="#">Quem Sou</a> |
        <a href="#">Contato</a> |
    </div>
    <div>
    {% for meusite in sites %}
    <h3>Nome: {{ meusite.nome }}</h3>
    <h3>Profissão: {{ meusite.profissao }}</h3>
    <h3>Estuda: {{ meusite.estuda }}</h3>
    <h3>Busca: {{ meusite.busca }}</h3>
    <a href="#">Saiba mais</a>
    </div>
    {% endfor %}
</body>
</html>