{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendas online - seu preço sempre em conta</title>
    {% bootstrap_css %}
</head>
<body>
    <div style="width: 900px; margin: 0px auto;">
        <a href="#" style="margin-left: 74%">Home</a> |
        <a href="#">Quem somos</a> |
        <a href="#">Contato</a> |
    </div>
    <div>
    <h3>Sejá bem vindo!</h3>
    </div>
    <div style="width: 900px; display= 50px auto;">
        <div>
        <h5 style="margin-left= 40%;">Sobre nós</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid iure debitis, ipsum cumque a molestiae, molestias eius aliquam perspiciatis beatae vero obcaecati ad! Illo pariatur corporis aut repellat nisi. Iusto, quam suscipit iste modi unde totam atque ex amet aliquam quaerat! Dolorem, enim, debitis sequi possimus magnam dolore quaerat, illo ad distinctio aliquid optio odit nam dolor perferendis magni repudiandae facere? Error accusantium libero voluptas aliquid quisquam, quia incidunt facilis officia quo excepturi? Minima laboriosam voluptas asperiores harum maxime, cea voluptatum veritatis sit perspiciatis dolores officia mollitia aliquam pariatur sed nemo deleniti incidunt placeat! Veritatis illo distinctio quasi atque porro.</p>
        </div>
    </div>
{% bootstrap_javascript %}
</body>
</html>
