{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculdade UNES</title>
</head>
<body background="{% static 'home/imagens/fundo.png' %}">
    <div style="width: 900px; margin: 20px auto;">
        <img src="{% static 'home/imagens/logo.png' %}">
        <a href="#" style="margin-left: 50%;">Home</a> |
        <a href="#">Quem Somos</a> |
        <a href="#">Contato</a> |
    </div>
    <div style="width: 900px; margin: 0px auto;">
        <img src="{% static 'home/imagens/capa.png' %}">
    <div>
    <div style="width: 900px; margin: 0px auto;">
        <h2>Sobre a universidade</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident labore ullam aperiam adipisci delectus deleniti nihil cum exercitationem cumque dignissimos! Fugiat quis eum minus voluptate esse. Minima non odit neque vitae quo dolorem itaque sit inventore fugit est perferendis porro laboriosam, fuga alias quis rerum praesentium nisi qui enim magnam maxime ratione aperiam reprehenderit. Perferendis ea, asperiores sapiente laboriosam sunt suscipit ducimus porro hic, vero dicta velit, illo odio vel! Quod laudantium officiis nobis quia consequatur minus corporis aspernatur alias odio eius explicabo dignissimos deserunt, beatae eligendi ab temporibus voluptatibus modi! Quam nam fugiat modi ipsam quae ad vero assumenda.</p>
    <div>
    <div style="width: 900px; margin: 0px auto;">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis perspiciatis repellendus sapiente, fuga labore cum. Quia at maiores non laudantium ut quos, eos ipsum iste excepturi quibusdam laboriosam ratione, voluptatem accusamus. Fugit atque quas impedit corporis beatae recusandae sint perspiciatis non voluptatibus dolor ex exercitationem explicabo molestiae nostrum possimus deserunt, nisi et, corrupti dolorum commodi. Cupiditate exercitationem neque dolore commodi quod, voluptate totam perspiciatis fugit ut voluptatibus aliquam unde iste quae. Non necessitatibus a odio dignissimos pariatur recusandae sapiente repellendus obcaecati vitae, qui neque labore commodi facere in ad aliquam harum totam nisi saepe dolorem magnam nihil. Voluptatum, aliquam incidunt!</p>
    <div>
    <div style="width: 900px; margin: 0px auto;">
        <h4 style="text-align: center;">Todos os direitos reservados.</h4>
    <div>
</body>
</html>